@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Roboto:wght@100;300&family=Unica+One&display=swap');

html, body, #root {
  height: 100%;
  box-sizing: border-box;
  font-smooth: always;
}

html * {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
